<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width minimum-scale=0.5 maximum-scale=3 shrink-to-fit=no">

		<title>{{ meta_title }}</title>

		<link href="{{ asset(settings('theme') ~ '/images/favicon.ico') }}" rel="icon" type="image/x-icon"/>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('admin') }}
			{% endblock %}
		{% endblock %}

		{% block head_css %}{% endblock %}
		{% block head_script %}{% endblock %}
	</head>

	<body>

		<!-- Content -->
		<div class="container-md">
			<ul id="main_menu">

				{% if 'product_view'|user_access %}
					<li>
						<a href="{{ path('ProductListAdmin') }}">
							<div class="menu_icon">
								<img loading="lazy" src="{{ asset('admin/images/menu/catalog.png') }}"/>
							</div>
							<b>Товары</b>
						</a>
					</li>
				{% endif %}


				{% if 'user_access'|user_access %}
					<li>
						<a href="{{ path('OrderListAdmin') }}">
							<div class="menu_icon">
								<img loading="lazy" src="{{ asset('admin/images/menu/orders.png') }}"/>
								{% if orders_info_count[0] %}
									<div class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
										{{ orders_info_count[0] }}</div>
								{% endif %}
							</div>
							<b>Заказы</b>
						</a>
					</li>
				{% endif %}


				{% if 'user'|user_access %}
					<li>
						<a href="{{ path('UserListAdmin') }}">
							<div class="menu_icon">
								<img loading="lazy" src="{{ asset('admin/images/menu/users.png') }}">
							</div>
							<b>Покупатели</b>
						</a>
					</li>
				{% endif %}

				<li>
					<a href="{{ path('CommentListAdmin') }}">
						<div class="menu_icon">
							<img loading="lazy" src="{{ asset('admin/images/menu/pages.png') }}">
							{% if new_comments_counter ?? false %}
								<div class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
									<span>{{ new_comments_counter }}</span>
								</div>
							{% endif %}
						</div>
						<b>Контент</b>
					</a>
				</li>


				{% if 'finance'|user_access %}
					<li>
						<a href="{{ path('PaymentListAdmin') }}">
							<div class="menu_icon">
								<img loading="lazy" src="{{ asset('admin/images/menu/finance.png') }}">
							</div>
							<b>Финансы</b>
						</a>
					</li>
				{% endif %}


				{% if 'addon'|user_access %}
					<li>
						<a href="{{ path('AddonListAdmin') }}">
							<div class="menu_icon">
								<img loading="lazy" src="{{ asset('admin/images/menu/wizards.png') }}">
							</div>
							<b>Модули</b>
						</a>
					</li>
				{% endif %}


				{% if 'settings'|user_access %}
					<li>
						<a href="{{ path('SettingsAdmin') }}">
							<div class="menu_icon">
								<img loading="lazy" src="{{ asset('admin/images/menu/settings.png') }}">
							</div>
							<b>Настройки</b>
						</a>
					</li>
				{% endif %}
			</ul>

			<!--{include file='parts/service_messages_part.tpl'}-->

			<ul id="tab_menu">
				{% block tabs %}<!--tabs-->{% endblock %}
			</ul>

			<main class="main_content">
				{% block subtabs %}<!--subtabs-->{% endblock %}

				{% block content %}<!--subtabs-->{% endblock %}
			</main>

			<div id="footer">
				<span class="grey">Вы вошли как</span>
				<a class="user_name" href="{{ path('UserAdmin', {id: user.id}) }}">{{ user.name }}</a>
				<a href="{{ path('UserLogout') }}" id="logout">Выход</a>
			</div>
		</div>

		{% block body_script %}<!--body_script-->{% endblock %}

		<!-- Admin Bookmark -->
		<a class="admin_bookmark" href="{{ path('Main') }}" data-bs-toggle="tooltip" title="Перейти на сайт">
			<svg viewbox="0 0 24 24" focusable="false" class="dyAbMb">
				<path d="M0 0h24v24H0z" fill="none"></path>
				<path d="M8.59,16.59L13.17,12L8.59,7.41L10,6l6,6l-6,6L8.59,16.59z"></path>
			</svg>
		</a>
	</body>

</html>
