{% extends 'admin/wrapper/main.html.twig' %}

{% set meta_title='Главная' %}

{% block tabs %}
	{% include 'admin/warehouse/parts/menu_part.html.twig' %}
{% endblock %}

{% block content %}
	<img loading="lazy" src="{{ asset('grizlicnc/images/logo.png') }}" alt="logo"/>

	<h1>{{ page_title }}</h1>

	{% if user.isLoggedIn %}
		Hello {{ user.name }}!
	{% endif %}

	<a href="{{ path('OrderListAdmin') }}">Orders</a>

	{% for order in orders %}
		<h2>
			<a href="{{ path('OrderAdmin', {id: order.id}) }}">{{ order.id }} - {{ order.name }}</a>
			<div>{{ order.payment_price|price }}</div>
		</h2>
	{% endfor %}

	{# ... #}

	{% block some_block %}
		<div class="row-cols-4 justify-content-center align-items-center g-2">
			<div class="col">Column</div>
			<div class="col">Column</div>
			<div class="col">Column</div>
		</div>
	{% endblock %}


	{{ content }}

	{% block page_contents %}{% endblock %}
{% endblock %}
